.edibles {
    padding-top:120px;
    width: 800px;
    margin:0 auto;
}

.search_bar {
    width:100%;
}

.search_bar .form-control {
    /*margin-top:10px;*/
    width:300px
}

.remover {
    padding-top:8px;
    width:14px;
}

.remover span.glyphicon-remove{
    font-size:1.4em;
    margin:0 auto;
}
