<!DOCTYPE html>
{% load staticfiles %}
<html>
    <head>
        {% block css %}
        <link rel="stylesheet" type="text/css" href="{% static 'css/bootstrap.min.css' %}">
        <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
        {% endblock %}
        {% block js %}
        <script src="{% static 'js/require.js' %}" data-main="{% static 'js/main' %}"></script>
        {% endblock %}
    </head>

    <body>
        {% block content %}
        {% endblock %}
    </body>
</html>
