{% extends 'django_edibles/base.html' %}
{% load render_table from django_tables2 %}
{% load staticfiles %}

{% block content %}
<div class="edibles">
    <form action="/edibles/" id="edible-form" method="post">
        {% csrf_token %}
        {% render_table table %}
    </form>
</div>

{% endblock %}
